*{
    box-sizing: border-box;
}

/* cor das letras no modo claro */
body{
    background-color: #ffffff;
    color: #000000;
}

#menu{
   list-style: none;
   text-align: right;
   margin-right: 100px;
   font-weight: bold; 
}

#menu li a{
    text-decoration: none;
    padding: 18px;
}

body.dark #menu li a {
    color: #ffffff;
 }

 body #menu li a {
    color: #000000;
 }

#menu li{
    display: inline;
}

#titulo{
    margin-top: 100px;
    margin-bottom: -13px;
}

#resumoIntrodutorio{
    margin-top: -270px;
    margin-left: 90px;
}

.trilho{
    width: 60px;
    height: 25px;
    background-color: #0c03032f;
    border-radius: 350px;
    position: absolute;
    cursor: pointer;
    top: 12px; 
    right: 10px; 
}

.trilho .indicador{
    width: 23px;
    height: 23px;
    background-color: #0c0404dd;
    border-radius: 50%;
    transform:  translateX(3%);
    position:sticky;
    left: 5;
    transition: transform 0.4s ease;
    margin-top: 1px;
}

.trilho.dark {
    background-color: #fffcfc2b;
    
}

.trilho.dark .indicador{
    background-color: #ffffff;
    border-radius: 50%;
    transform:  translateX(160%);
    position:sticky;
    right: 5;
    transition: transform 0.4s ease;
    margin-top: 1px;
    width: 23px;
    height: 23px;
    
}

body.dark{
    background-color: #000000;
}

/* cor das letras no modo escuro */
body.dark {
    color: #ffffff;
}

.timeline {
    position: relative;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 1px;
    background-color: #020202; /* Cor da linha vertical */
  }
/* cor da linha modo dark*/
  body.dark  .timeline::before{
    background-color: #ffffff;
}

  
  .event {
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px; /* Espaço para a linha e a bolinha */
  }
  
  .event .dot {
    width: 10px;
    height: 10px;
    background-color: #03045E; /* Cor da bolinha */
    border-radius: 50%;
    position: absolute;
    left: 30px; /* Alinhado ao centro da linha vertical */
    transform: translateX(-50%);
  }
/* cor da bolihha modo dark*/
  body.dark .event .dot{
    background-color: #b9e6fe;
}

  .event .date {
    margin-left: 20px; /* Ajusta o espaçamento conforme necessário */
    font-size: 16px;
    font-weight: bold;
    color: #03045E;
  }

/* cor da data modo dark*/
  body.dark .event .date{
    color: #b9e6fe;
}

  /* cor dos paragrafos no modo dark*/
  .event p body.dark{
    margin: 0;
    margin-top: 18px; /* Espaço entre o ano e o texto */
    margin-bottom: 30px;
    padding-left: 20px; /* Espaço entre a bolinha e o texto */
    color: #b9e6fe;

  }
  
  #totalExperiencia ul {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 107px;
  }
  
  #totalExperiencia li {
    list-style: none;
    display: inline-block;
    margin-right: 80px;
    vertical-align: top; /* Alinha os elementos no topo */
  }
  
  #totalExperiencia li h2 {
    margin: 0; /* Remove qualquer margem padrão */
    font-size: 50px;
  }

  body.dark h2{
    color: #b9e6fe;
}
  
  #totalExperiencia li p {
    margin: 0; /* Remove qualquer margem padrão */
  }
  
  .principaisCargos {
    display: flex;
    justify-content: space-between; /* Espaça uniformemente os elementos */
}

.principaisCargos > div {
    background-color: #03055ecf;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 3px;
    color: #fff;
}

body.dark .principaisCargos > div{
    background-color:#03055ecf;
    

}

  #linhaDivisoria{
    border: 1px solid;
    margin-top: 243px;
}


.meioDeContatos{
    margin-top: 30px;
    margin-bottom: 15px;
    list-style: none;
  }

  .meioDeContatos a li{
    list-style: none;
    display: inline;
    margin-right: 9px;
  }

  #github{
    margin-inline-start: 44%;
  }

  #Copyright{
    text-align: center;
  }

  

 

