*{
    box-sizing: border-box;
}

/* cor das letras no moto escuro */
body{
    background-color: #4e4e4e;
    transition: .5s;
    color: #ffffff;
}

#menu{
   list-style: none;
   text-align: right;
   margin-right: 100px;
}

#menu li a{
    text-decoration: none;
    padding: 18px;
}

body.dark #menu li a {
    color: #000000;
 }

 body #menu li a {
    color: #ffffff;
 }

#menu li{
    display: inline;
}

.nomeFuncaoImagem{
    margin-top: 150px;
    margin-left: 90px;
}

.nomeFuncaoImagem h1{
    font-size: 50px;
    margin-bottom: -15px;
    
}

#resumoIntrodutorio{
    margin-top: -270px;
    margin-left: 90px;
}

.trilho{
    width: 60px;
    height: 25px;
    background-color: #c3c3c36b;
    border-radius: 350px;
    position: absolute;
    cursor: pointer;
    top: 12px; 
    right: 10px; 
}

.trilho .indicador{
    width: 23px;
    height: 23px;
    background-color: #0c0404;
    border-radius: 50%;
    transform:  translateX(3%);
    position:sticky;
    left: 5;
    transition: transform 0.5s ease;
    margin-top: 1px;
}

.trilho.dark {
    background-color: #c3c3c3;
    
}

.trilho.dark .indicador{
    left: 200px;
    background-color: #fff;
    transform: translateX(159%);
}

body.dark{
    background-color: #e4e4e4;
}

/* cor das letras no modo claro */
body.dark {
    color: #000000;
}


#fotoPerfil{

    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: 970px;
    margin-top: -100px;
  }
