*{
    box-sizing: border-box;
}

/* cor das letras no modo claro */
body{
    background-color: #ffffff;
    color: #000000;
}

#menu{
   list-style: none;
   text-align: right;
   margin-right: 100px;
   font-weight: bold; 
}

#menu li a{
    text-decoration: none;
    padding: 18px;
}

body.dark #menu li a {
    color: #ffffff;
 }

 body #menu li a {
    color: #000000;
 }

#menu li{
    display: inline;
}

#titulo{
    margin-top: 100px;
    margin-bottom: -13px;
}

#resumoIntrodutorio{
    margin-top: -270px;
    margin-left: 90px;
}

.trilho{
    width: 60px;
    height: 25px;
    background-color: #0c03032f;
    border-radius: 350px;
    position: absolute;
    cursor: pointer;
    top: 12px; 
    right: 10px; 
}

.trilho .indicador{
    width: 23px;
    height: 23px;
    background-color: #0c0404dd;
    border-radius: 50%;
    transform:  translateX(3%);
    position:sticky;
    left: 5;
    transition: transform 0.4s ease;
    margin-top: 1px;
}

.trilho.dark {
    background-color: #fffcfc2b;
    
}

.trilho.dark .indicador{
    background-color: #ffffff;
    border-radius: 50%;
    transform:  translateX(160%);
    position:sticky;
    right: 5;
    transition: transform 0.4s ease;
    margin-top: 1px;
    width: 23px;
    height: 23px;
    
}

body.dark{
    background-color: #000000;
}

/* cor das letras no modo escuro */
body.dark {
    color: #ffffff;
}

#linhaDivisoria{
    border: 1px solid;
    margin-top: 243px;
}

.meioDeContatos{
    margin-top: 30px;
    margin-bottom: 15px;
    list-style: none;
  }

  .meioDeContatos a li{
    list-style: none;
    display: inline;
    margin-right: 9px;
  }

  #github{
    margin-inline-start: 44%;
  }

  #Copyright{
    text-align: center;
  }
 

